.font-color {
  color: #52daea !important;
}

// 点击 *** 跳弹窗的hover样式
.show-dialog-style:hover {
  color: #116bcb !important;
  cursor: pointer !important;
}

.box3-class {
  cursor: pointer;
}

.box3-class:hover {
  font-size: 16px;
}
